absl-py==2.1.0 ; python_version >= "3.9" and python_version < "3.13"
astunparse==1.6.3 ; python_version >= "3.9" and python_version < "3.13"
certifi==2024.7.4 ; python_version >= "3.9" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "3.13"
flatbuffers==24.3.25 ; python_version >= "3.9" and python_version < "3.13"
gast==0.6.0 ; python_version >= "3.9" and python_version < "3.13"
google-pasta==0.2.0 ; python_version >= "3.9" and python_version < "3.13"
grpcio==1.64.1 ; python_version >= "3.9" and python_version < "3.13"
h5py==3.11.0 ; python_version >= "3.9" and python_version < "3.13"
idna==3.7 ; python_version >= "3.9" and python_version < "3.13"
importlib-metadata==8.0.0 ; python_version >= "3.9" and python_version < "3.10"
keras==3.4.1 ; python_version >= "3.9" and python_version < "3.13"
libclang==18.1.1 ; python_version >= "3.9" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "3.13"
markdown==3.6 ; python_version >= "3.9" and python_version < "3.13"
markupsafe==2.1.5 ; python_version >= "3.9" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "3.13"
ml-dtypes==0.3.2 ; python_version >= "3.9" and python_version < "3.13"
namex==0.0.8 ; python_version >= "3.9" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.13"
opt-einsum==3.3.0 ; python_version >= "3.9" and python_version < "3.13"
optree==0.12.0 ; python_version >= "3.9" and python_version < "3.13"
packaging==24.1 ; python_version >= "3.9" and python_version < "3.13"
protobuf==4.25.3 ; python_version >= "3.9" and python_version < "3.13"
pygments==2.18.0 ; python_version >= "3.9" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.9" and python_version < "3.13"
rich==13.7.1 ; python_version >= "3.9" and python_version < "3.13"
setuptools==70.2.0 ; python_version >= "3.9" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.13"
tensorboard-data-server==0.7.2 ; python_version >= "3.9" and python_version < "3.13"
tensorboard==2.16.2 ; python_version >= "3.9" and python_version < "3.13"
tensorflow-io-gcs-filesystem==0.37.1 ; python_version >= "3.9" and python_version < "3.12"
tensorflow==2.16.2 ; python_version >= "3.9" and python_version < "3.13"
termcolor==2.4.0 ; python_version >= "3.9" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.13"
urllib3==2.2.2 ; python_version >= "3.9" and python_version < "3.13"
werkzeug==3.0.3 ; python_version >= "3.9" and python_version < "3.13"
wheel==0.43.0 ; python_version >= "3.9" and python_version < "3.13"
wrapt==1.16.0 ; python_version >= "3.9" and python_version < "3.13"
zipp==3.19.2 ; python_version >= "3.9" and python_version < "3.10"
